@model IEnumerable<ShoppingCartExample.Models.Domain.Product>

@{
}

<div class="container">
    <h2>Products</h2>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Last Purchased</th>
            <th>Time Created</th>
            <th class="text-center">Add to Cart</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.LastPurchased</td>
                <td>@product.TimeCreated</td>
                <td class="text-center"><button class="btn btn-sm btn-primary">+</button></td>
            </tr>
        }
        </tbody>
    </table>
</div>